@model EduApply.Web.Models.VenueModel

@{
    ViewBag.Title = "Venue Configuration";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@*<h2>Venue Configuration</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li>@Html.ActionLink("Session", "Index", "Session")</li>
                <li>@Html.ActionLink("Program", "Index", "Program")</li>
                <li>@Html.ActionLink("Faculty", "Index", "Faculty")</li>
                <li>@Html.ActionLink("Department", "Index", "Department")</li>
                <li>@Html.ActionLink("Course of Study", "Index", "Course")</li>
                <li class="active">@Html.ActionLink("Exam Venue", "Index", "Venue")</li>
                <li>@Html.ActionLink("Venue Date", "Index", "ExamVenue")</li>
                <li>@Html.ActionLink("Venue Mapping", "Mapper", "VenueMapping")</li>
                <li>@Html.ActionLink("Split", "Index", "SplitConfiguration")</li>
                <li>@Html.ActionLink("ApplicationNo Format", "Index", "ApplicationNoFormat")</li>
            </ul>
        </div>

        <div class="col-md-12 margin-top">
            <div class="form-horizontal">
                <h4>New Venue</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control default-width" } })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Capacity, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control default-width" } })
                        @Html.ValidationMessageFor(model => model.Capacity)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Active)
                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        </div>

    </div>

}
