@using EduApply.Data.Entities
@using EduApply.Logic.Interfaces
@using EduApply.Logic.Service
@model EduApply.Web.Models.JambScoreValidationModel

@{
    ViewBag.Title = "Validate Jamb";
    Layout = "~/Views/Shared/ApplicationLayout.cshtml";
    var appFormservice = EngineContext.Resolve<IApplicationFormRepository>();
    var applicationFormWorkFlow = appFormservice.GetFirstApplicationFormWorkFlow(Convert.ToInt32(Session["AppFormId"]));
    var workFlow = appFormservice.GetWorkFlowItem(applicationFormWorkFlow.WorkFlowId);
}


<div class="container">

    <h4>Jamb Result</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })


        @using (Html.BeginForm("ValidateJamb", "Validation", FormMethod.Post))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2"> Registration Number:</label>
                    <div class="col-xs-4">
                        <strong>@Html.TextBoxFor(model => model.RegNum, new { @class = "form-control" })</strong>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-primary">Show Result</button>
                    </div>
                    <div class="row"></div>
                </div>
            </div>

        }


    <hr />
    @*<div class="form-group">
            <div class="col-xs-4"><strong>Last Name: </strong>@Model.LastName</div>
            <div class="col-xs-4"><strong>First Name: </strong>@Model.FirstName</div>
            <div class="col-xs-4"><strong>Middle Name: </strong>@Model.MiddleName</div>
            <div class="row"></div>
        </div>*@
    <div class="form-group">
        <div class="col-xs-4">English</div>
        <div class="col-xs-4"><strong>@Html.DisplayFor(model => model.EngScore)</strong>    </div>

        <div class="row"></div>
    </div>

    <div class="form-group">
        <div class="col-xs-4">@Html.DisplayFor(model => model.Subject2)   </div>
        <div class="col-xs-4"><strong>@Html.DisplayFor(model => model.Subject2Score)</strong>    </div>
        <div class="row"></div>
    </div>
    <div class="form-group">
        <div class="col-xs-4">@Html.DisplayFor(model => model.Subject3)  </div>
        <div class="col-xs-4"><strong>@Html.DisplayFor(model => model.Subject3Score)</strong>    </div>
        <div class="row"></div>
    </div>

    <div class="form-group">
        <div class="col-xs-4">@Html.DisplayFor(model => model.Subject4)</div>
        <div class="col-xs-4"><strong>@Html.DisplayFor(model => model.Subject4Score)</strong>    </div>
        <div class="row"></div>
    </div>
    <hr />
    <div class="col-md-4">
        <h4>
            <strong>@Html.DisplayNameFor(model => model.TotalScore)</strong>
        </h4>
    </div>
    <div class="col-md-4">
        <h4>
            <strong>
                @Html.DisplayFor(model => model.TotalScore)
            </strong>
        </h4>
    </div>
    <div class="col-md-4"></div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-6">
            @if (!workFlow.Name.Equals("Validate Jamb Score"))
            {
                @Html.ActionLink("<< Back", "BackApplication", "Application", null, new { @class = "btn btn-default" })
            }
            @Html.ActionLink("Continue >>", "ContinueJambValidation", null, new { @class = "btn btn-success" })
        </div>
        <div class="col-md-4">
            @if ((Session["ApplicationForm"] as ApplicationForm).AllowJambResultPrinting && Model.TotalScore > 0)
            {
                @Html.ActionLink("Print Result", "PrintResult", null, new { regNum = Model.RegNum }, new { @class = "btn btn-warning" })
            }
        </div>

    </div>

</div>
