@model EduApply.Web.Models.ApplicantsViewModel
@{
    ViewBag.Title = "Home Page";
}
<!-- sidebar-collapse -->

<div class="sidebar " role="navigation">
    <div class="sidebar-nav navbar-collapse collapse">
        <ul class="nav in sidebar" id="" style="margin-top:130px">

            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
            @*<li>@Html.ActionLink("Application", "Index", "Application")</li>*@
        </ul>
    </div>
</div>


<div class="col-sm-9 col-sm-offset-1 col-md-10 margin-left-medium" style="">
    <h2 class="">Application Activities</h2>
    <div class="row">
        <div class="col-md-8">
            <div class="panel-group" id="accordion">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#applicationForm" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
                                <span class="glyphicon glyphicon-plus"></span> Application Forms
                            </a>
                        </h4>
                    </div>
                    <div id="applicationForm" class="panel-collapse collapse in">
                        <div class="panel-body table-responsive">
                            <table class="table table-striped">
                                @if (Model.OpenApplicationForms.Any(x => x.FormCategoryId == 1))
                                {
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Start Date
                                        </th>
                                        <th>
                                            Closing Date
                                        </th>
                                        <th></th>
                                    </tr>

                                    foreach (var item in Model.OpenApplicationForms.Where(x => x.FormCategoryId == 1))
                                    {
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.StartDate.ToString("ddd dd-MMM-yy h:mm tt")
                                        </td>
                                        <td>
                                            @item.EndDate.ToString("ddd dd-MMM-yy h:mm tt")
                                        </td>
                                        <td>
                                            @Html.ActionLink("Apply", "Apply", "Application", new { appFormId = item.Id, name = item.Name, appType = "New" }, new { @class = "btn btn-xs btn-primary" })
                                        </td>
                                    </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>There are no open Application Forms</td>
                                    </tr>
                                }


                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#resultChecking" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
                                <span class="glyphicon glyphicon-plus"></span> Result Checking
                            </a>
                        </h4>
                    </div>
                    <div id="resultChecking" class="panel-collapse collapse">
                        <div class="panel-body table-responsive">
                            <table class="table table-striped">
                                @if (Model.OpenApplicationForms.Any(x => x.FormCategoryId == 2))
                                {
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Start Date
                                        </th>
                                        <th>
                                            Closing Date
                                        </th>
                                        <th></th>
                                    </tr>

                                    foreach (var item in Model.OpenApplicationForms.Where(x => x.FormCategoryId == 2))
                                    {
                                        <tr>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.StartDate.ToString("ddd dd-MMM-yy h:mm tt")
                                            </td>
                                            <td>
                                                @item.EndDate.ToString("ddd dd-MMM-yy h:mm tt")
                                            </td>
                                            <td>
                                                @Html.ActionLink("Check", "Apply", "Application", new { appFormId = item.Id, name = item.Name, appType = "New" }, new { @class = "btn btn-xs btn-primary" })
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>There are no forms for Result Checking</td>
                                    </tr>
                                }


                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#admissionChecking" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
                                <span class="glyphicon glyphicon-plus"></span> Admission Checking
                            </a>
                        </h4>
                    </div>
                    <div id="admissionChecking" class="panel-collapse collapse">
                        <div class="panel-body  table-responsive">
                            <table class="table table-striped">
                                @if (Model.OpenApplicationForms.Any(x => x.FormCategoryId == 3))
                                {
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Start Date
                                        </th>
                                        <th>
                                            Closing Date
                                        </th>
                                        <th></th>
                                    </tr>

                                    foreach (var item in Model.OpenApplicationForms.Where(x => x.FormCategoryId == 3))
                                    {
                                        <tr>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.StartDate.ToString("ddd dd-MMM-yy h:mm tt")
                                            </td>
                                            <td>
                                                @item.EndDate.ToString("ddd dd-MMM-yy h:mm tt")
                                            </td>
                                            <td>
                                                @Html.ActionLink("Check", "Apply", "Application", new { appFormId = item.Id, name = item.Name, appType = "New" }, new { @class = "btn btn-xs btn-primary" })
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>There are no forms for Admission Checking</td>
                                    </tr>
                                }


                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#acceptanceForm" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">
                                <span class="glyphicon glyphicon-plus"></span> Acceptance Form
                            </a>
                        </h4>
                    </div>
                    <div id="acceptanceForm" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-striped">
                                @if (Model.OpenApplicationForms.Any(x => x.FormCategoryId == 4))
                                {
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Start Date
                                        </th>
                                        <th>
                                            Closing Date
                                        </th>
                                        <th></th>
                                    </tr>

                                    foreach (var item in Model.OpenApplicationForms.Where(x => x.FormCategoryId == 4))
                                    {
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.StartDate.ToString("ddd dd-MMM-yy h:mm tt")
                                        </td>
                                        <td>
                                            @item.EndDate.ToString("ddd dd-MMM-yy h:mm tt")
                                        </td>
                                        <td>
                                            @Html.ActionLink("Pay", "Apply", "Application", new { appFormId = item.Id, name = item.Name, appType = "New" }, new { @class = "btn btn-xs btn-primary" })
                                        </td>
                                    </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>There are no forms for Acceptance</td>
                                    </tr>
                                }


                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">My Saved Applications</div>
                <table class="table table-responsive">
                    @if (Model.SavedApplications.Any())
                    {
                        var counter = 1;
                        <tr><th>S/N</th><th>Form</th><th>Closing Date</th><th></th></tr>
                        foreach (var item in Model.SavedApplications)
                        {
                            <tr>
                                <td>@counter</td>
                                <td>@item.AppFormName</td>
                                <td>@item.ApplicationClosingDate.ToString("dd-MMM-yyyy")</td>
                                <td>@Html.ActionLink("Resume", "Resume", "Application", new { appFormId = @item.ApplicationFormId, applicationId = @item.ApplicationId, name = @item.AppFormName }, new { @class = "btn btn-xs btn-success" })</td>
                            </tr>
                            counter++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td>You do not have any open application at the moment</td>
                        </tr>
                    }

                </table>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">My Submitted Applications</div>
                <table class="table">
                    @if (Model.SubmittedApplications.Any())
                    {
                        var counter = 1;
                        <tr><th>S/N</th><th>Form</th><th></th></tr>
                        foreach (var item in Model.SubmittedApplications)
                        {
                        <tr>
                            <td>@counter</td>
                            <td>@item.AppFormName</td>
                            <td>@Html.ActionLink("Preview", "ResumeSubmitted", "Application", new { appFormId = @item.ApplicationFormId, applicationId = @item.ApplicationId, name = @item.AppFormName }, new { @class = "btn btn-xs btn-success" })</td>
                        </tr>
                            counter++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td>You do not have any submitted application at the moment</td>
                        </tr>
                    }

                </table>
            </div>

        </div>

    </div>

</div>




@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
