@model IEnumerable<EduApply.Web.Models.ApplicationFormModel>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">@Html.ActionLink("Application", "Index", "Application")</li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="page-header">Available Application Forms</h2>
            <div class="panel panel-info">
                <div class="panel-heading">Application Forms</div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <th>
                            Closing Date
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.StartDate.ToString("ddd dd-MMM-yy h:mm tt")
                            </td>
                            <td>
                                @item.EndDate.ToString("ddd dd/MMM/yy h:mm tt")
                            </td>
                            <td>
                                @Html.ActionLink("Apply", "Apply", new { appFormId = item.Id, name = item.Name, appType = "New" })
                            </td>
                        </tr>
                    }

                </table>
            </div>

    </div>
</div>







