@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            @*@Html.ActionLink("Welcome "+@User.Identity.Name, "ApplicantManage", "Account", routeValues: null, htmlAttributes: new { title = "" })*@
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="dropDownMenu2">Welcome, <strong> @User.Identity.Name </strong><span class="fa fa-caret-square-o-down"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropDownMenu2">
                <li>@Html.ActionLink("Change Password", "ApplicantManage", "Account")</li>
                <li class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
            </ul>
        </li>
        
    </ul>
    }
}
else
{
    <ul class="dropdown-menu" >
        <li><i class="fa fa-user fa-fw"></i>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="divider"></li>
        <li style="float:none"><i class="fa fa-sign-out fa-fw"></i> @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

