@using EduApply.Logic.Service
@using EduApply.Logic.Utility
<!DOCTYPE html>
<html>
@{
    var theme = EngineContext.Resolve<Theme>();
    var schoolName = theme.SchoolName;
    var http = EngineContext.Resolve<HttpContextBase>();
    //var logo = @UrlHelper.GenerateContentUrl("images/" + theme.Logo, http);

    //var logo = @Url.Content("images/" + theme.Logo);
    var outerlogo = "/EduApply/images/" + theme.OuterLogo;

}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Apply Portal</title>
        <link href="~/Content/jquery-ui.css" rel="stylesheet" />
        <link href="~/Content/toastr.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/toastr.js"></script>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="~/Styles/Theme.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-ui.js"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>


    </head>
<body class="school-name-header">
    <!---
        <div class="navbar navbarcustom navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p class="pull-left"><h3> Federal University of Technology, Owerri. <br /> </h3><h4> Online Application Portal</h4></p>
                    @Html.ActionLink("Application ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*
                    <li>@Html.ActionLink("Application", "Index", "Application")</li>*@
                        @*
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div> -->
    <div class="thin-line-medium"> </div>
    <div class="container centering text-center school-name-header">
        <h2><b> <img src=@outerlogo /> @schoolName</b> </h2>
    </div>

    <section id="hero_section" class="cont_image ">

        <div class="hero_wrapper top_cont_outer">
            <div class="container ">
                <div class="hero_section ">
                    <div class="row">
                        <div class="col-md-12">

                            @RenderBody()
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </section>

    <footer class=" centering text-center color-black ">
        <hr />
        <p>&copy; @DateTime.Now.Year - Application Portal</p>
    </footer>




    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            checkSupportForInputTypeDate();

            function checkSupportForInputTypeDate() {
                jQuery.validator.methods.date = function (value, element) {
                    var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                    var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
                    if (!isSafari || !isChrome) {
                        var d = new Date();
                        return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                    } else {
                        return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                    }
                };
            }
        });
    </script>
</body>

</html>
