@model EduApply.Web.Models.PersonalInfoPreviewModel
<div class="container">

    <h4>Bio-Data</h4>
    <hr />

    <div class="col-sm-4"><p><strong>Last Name: </strong>@Model.LastName</p> </div>
    <div class="col-sm-4"><p><strong>First Name: </strong>@Model.FirstName</p> </div>
    <div class="col-sm-4"><p><strong>Middle Name: </strong>@Model.MiddleName</p> </div>

    <div class="col-sm-4"><p><strong>Date of Birth: </strong>@Convert.ToDateTime(Model.DateOfBirth).ToString("dd-MMM-yyyy")</p> </div>
    <div class="col-sm-4"><p><strong>Gender: </strong>@Model.Gender</p> </div>
    <div class="col-sm-4"><p><strong>Marital Status: </strong>@Model.MaritalStatus</p> </div>
    
    <div class="col-sm-12"><p><strong>Home Address: </strong>@Model.HomeAddress</p></div>
    
    <div class="col-sm-4"><p><strong>State of Residence: </strong>@Model.StateOfResidence</p> </div>
    <div class="col-sm-8"><p><strong>Postal Address: </strong>@Model.PostalAddress</p> </div>
    
    
    <div class="col-sm-4"><p><strong>Email: </strong>@Model.Email</p> </div>
    <div class="col-sm-4"><p><strong>Phone Number: </strong>@Model.PhoneNumber</p> </div>
    <div class="col-sm-4"><p><strong>Religion: </strong>@Model.Religion</p> </div>
    
    
    <div class="col-sm-4"><p><strong>Nationality: </strong>@Model.Nationality</p> </div>
    <div class="col-sm-4"><p><strong>State of Origin: </strong>@Model.StateOfOrigin</p> </div>
    <div class="col-sm-4"><p><strong>Local Government: </strong>@Model.LocalGovernment</p> </div>
    
    <div class="col-sm-4"><p><strong>Next of Kin: </strong>@Model.NameOfNextOfkin</p> </div>
    <div class="col-sm-4"><p><strong>Relationship: </strong>@Model.NextOfKinRelationship</p> </div>
    
    <div class="col-sm-4"><p><strong>Phone (Next of Kin): </strong>@Model.PhoneOfNextOfkin</p> </div>
    <div class="col-sm-4"><p><strong>Email (Next of Kin): </strong>@Model.EmailOfNextOfKin</p> </div>
</div>