@model EduApply.Web.Models.FormResultModel

<div class="container">
    <h4>Application Result Validation</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @if (Model.TotalScore > 0)
            {
                <div class="col-md-offset-2 col-md-10">
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.AppNum)</strong>    @Html.DisplayFor(model => model.AppNum)
                    </p>


                    <p>
                        <strong>@Html.DisplayNameFor(model => model.EngScore)</strong>    @Html.DisplayFor(model => model.EngScore)
                    </p>

                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Subject2)</strong>    @Html.DisplayFor(model => model.Subject2)
                    </p>

                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Subject2Score)</strong>    @Html.DisplayFor(model => model.Subject2Score)
                    </p>

                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Subject3)</strong>    @Html.DisplayFor(model => model.Subject3)
                    </p>

                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Subject3Score)</strong>    @Html.DisplayFor(model => model.Subject3Score)
                    </p>

                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Subject4)</strong>    @Html.DisplayFor(model => model.Subject4)
                    </p>

                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Subject4Score)</strong>    @Html.DisplayFor(model => model.Subject4Score)
                    </p>

                    <p>
                        <strong>@Html.DisplayNameFor(model => model.TotalScore)</strong>   @Html.DisplayFor(model => model.TotalScore)
                    </p>


                </div>
            }
            <hr />
        </div>
    }



</div>