@model EduApply.Web.Models.JambScoreValidationModel


<div class="container">

    <h4>Jamb Score Validation</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })

    <p><strong>Reg Num: </strong>@Model.RegNum</p>
    <p><strong>Last Name: </strong>@Model.LastName</p>
    <p><strong>First Name: </strong>@Model.FirstName</p>
    <p><strong>Middle Name: </strong>@Model.MiddleName</p>
    <p><strong>English Score: </strong>@Model.EngScore</p>
    <p><strong>Subject 2: </strong>@Model.Subject2</p>
    <p><strong>Subject 2 Score: </strong>@Model.Subject2Score</p>
    <p><strong>Subject 3: </strong>@Model.Subject3</p>
    <p><strong>Subject 3 Score: </strong>@Model.Subject3Score</p>
    <p><strong>Subject 4: </strong>@Model.Subject4</p>
    <p><strong>Subject 4 Score: </strong>@Model.Subject4Score</p>
    <hr />
    <h4><strong>Total Score: </strong>@Model.TotalScore</h4>
    <hr />

</div>

