@model EduApply.Web.Models.ApplicationFormModel

@{
    ViewBag.Title = "Advanced Settings";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@*<h2>Advanced Settings</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.Name</h4>
        <hr />
        @Html.ValidationSummary(true)
        @*<div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>*@
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.AllowMultipleApplications, new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.AllowMultipleApplications)
                </div>
            </div>

            @Html.LabelFor(model => model.AllowJambResultPrinting, new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.AllowJambResultPrinting)
                </div>
            </div>

        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.AllowAppResultPrinting, new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.AllowAppResultPrinting)
                </div>
            </div>

            @Html.LabelFor(model => model.AllowNonAppResultPrinting, new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.AllowNonAppResultPrinting)
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.AllowAdmissionLetterPriniting, new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.AllowAdmissionLetterPriniting)
                </div>
            </div>

            @Html.LabelFor(model => model.AllowApplicationFormPrinting, new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.AllowApplicationFormPrinting)
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.AllowPhotoCardPrinting, new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.AllowPhotoCardPrinting)
                </div>
            </div>


            @Html.LabelFor(model => model.AllowApplicationEditAfterSubmission, new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.AllowApplicationEditAfterSubmission)
                </div>
            </div>
        </div>

        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.UseProgramCourseFromJamb, new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.UseProgramCourseFromJamb)
                </div>
            </div>

            @Html.LabelFor(model => model.DontAllowDiffDeptSelection, new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.DontAllowDiffDeptSelection)
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.AllowBankPayment, new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.AllowBankPayment)
                </div>
            </div>

            @Html.LabelFor(model => model.AllowOnlinePayment, new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.AllowOnlinePayment)
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.DontUseDefaultSeatNumbering, new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.DontUseDefaultSeatNumbering)
                </div>
            </div>
            @Html.LabelFor(model => model.UseDetailsFromJambBiodata, new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.UseDetailsFromJambBiodata)
                </div>
            </div>
        </div>
        <hr />
        <div class="panel panel-primary">
            <div class="panel-heading">Application Forms</div>
            <table class="table table-striped" id="mappedFormTable">
                <thead>
                    <tr><th>S/N</th><th>Application Form</th><th>Map To Form</th></tr>
                </thead>
                <tbody>
                    @if (Model.ApplicationForms.Any())
                    {
                        var counter = 1;
                        foreach (var item in Model.ApplicationForms)
                        {
                            <tr>
                                <td>@counter</td>
                                <td>@item.Name</td>
                                <td>
                                    @if (Model.MappedFormIdsForThisForm.Any())
                                    {
                                        if (Model.MappedFormIdsForThisForm.Contains(@item.Id))
                                        {
                                            <input type="checkbox" value="@item.Id" checked="" name="MappedFormIds" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" value="@item.Id" name="MappedFormIds" />
                                        }
                                    }
                                    else
                                    {
                                        <input type="checkbox" value="@item.Id" name="MappedFormIds" />
                                    }
                                </td>
                            </tr>
                                    counter++;
                        }

                    }

                </tbody>
            </table>

        </div>
        <hr />
        <div class="panel panel-primary">
            <div class="panel-heading">Class of Degrees</div>
            <table class="table table-striped" id="classOfDegreeTable">
                <thead>
                    <tr><th>S/N</th><th>Class of Degree</th><th>Add To Form</th></tr>
                </thead>
                <tbody>
                    @if (Model.ClassOfDegrees.Any())
                    {
                        var counter = 1;
                        foreach (var item in Model.ClassOfDegrees)
                        {
                            <tr>
                                <td>@counter</td>
                                <td>@item.Name</td>
                                <td>
                                    @if (Model.ClassOfDegreeIdzForThisForm.Any())
                                    {
                                        if (Model.ClassOfDegreeIdzForThisForm.Contains(@item.Id))
                                        {
                                            <input type="checkbox" value="@item.Id" checked="" name="ClassOfDegreeIdz" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" value="@item.Id" name="ClassOfDegreeIdz" />
                                        }
                                    }
                                    else
                                    {
                                        <input type="checkbox" value="@item.Id" name="ClassOfDegreeIdz" />
                                    }
                                </td>
                            </tr>
                                    counter++;
                        }

                    }

                </tbody>
            </table>

        </div>


        <hr />
        <div class="panel panel-primary">
            <div class="panel-heading">Program Courses</div>
            <table class="table table-striped" id="programCourseTable2">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Program</th>
                        <th>Course</th>
                        <th><input type="checkbox" name="select_all" value="1" id="programCourseTable2-select-all">  Add To Form</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ProgramCourses.Any())
                    {
                        var counter = 1;
                        foreach (var item in Model.ProgramCourses)
                        {
                            <tr>
                                <td>@counter</td>
                                <td>@item.Program.Code</td>
                                <td>@item.Course.Name</td>
                                <td>
                                    @if (Model.ProgramCourseIdsForThisForm.Any())
                                    {
                                        if (Model.ProgramCourseIdsForThisForm.Contains(@item.Id))
                                        {
                                            <input type="checkbox" value="@item.Id" checked="" name="ProgramCourseIds" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" value="@item.Id" name="ProgramCourseIds" />
                                        }
                                    }
                                    else
                                    {
                                        <input type="checkbox" value="@item.Id" name="ProgramCourseIds" />
                                    }
                                </td>
                            </tr>
                                    counter++;
                        }

                    }
                    else
                    {
                        <tr><td colspan="4">No Program Course to display</td></tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Save" class="btn btn-success" />
                @Html.ActionLink("Cancel", "Edit", new { @appId = Model.Id }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

<script>
    $(function () {
        var table = $('#programCourseTable2').DataTable(
{ "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]] }
);
        $('#mappedFormTable').dataTable();

        // Handle click on "Select all" control
        $('#programCourseTable2-select-all').on('click', function () {
            // Get all rows with search applied
            var rows = table.rows({ 'search': 'applied' }).nodes();
            // Check/uncheck checkboxes for all rows in the table
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        $('#programCourseTable2 tbody').on('change', 'input[type="checkbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#programCourseTable2-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });
    });
</script>





@*<div class="panel panel-primary">
        <div class="panel-heading">Payment Gateways</div>
        <table class="table table-striped" id="paymentGatewayTable">
            <thead>
                <tr><th>S/N</th><th>Gateway</th><th>Add To Form</th></tr>
            </thead>
            <tbody>
                @if (Model.Gateways.Any())
                {
                    var counter = 1;
                    foreach (var item in Model.Gateways)
                    {
                        <tr>
                            <td>@counter</td>
                            <td>@item.Name</td>
                            <td>
                                @if (Model.GatewayIdzForThisForm.Any())
                                {
                                    if (Model.GatewayIdzForThisForm.Contains(@item.Id))
                                    {
                                        <input type="checkbox" value="@item.Id" checked="" name="GatewayIdz" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" value="@item.Id" name="GatewayIdz" />
                                    }
                                }
                                else
                                {
                                    <input type="checkbox" value="@item.Id" name="GatewayIdz" />
                                }
                            </td>
                        </tr>
                                counter++;
                    }

                }

            </tbody>
        </table>

    </div>*@