@using EduApply.Data.Entities
@using EduApply.Web.Models
@model IList<ApplicationForm>
@{
    ViewBag.Title = "Application Forms";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<div class="form-group">
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create Form", "Create", null, new { @class = "btn btn-primary" })
    }
  

</div>
<div class="panel panel-primary">
    <div class="panel-heading">Application Forms</div>
    <table class="table table-striped" id="applicationFormsTB">
        <thead>
            <tr><th>S/N</th><th>Name</th><th>Start Date</th><th>End Date</th><th>Fee</th><th>Form Templates</th>@if(User.IsInRole("Admin")){<th></th><th></th>}</tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                var i = 1;

                foreach (ApplicationForm form in Model)
                {
                    <tr>
                        <td style="width: 4%">@i</td>
                        <td>@form.Name</td>
                        <td>@form.StartDate.ToString("dd-MMM-yyyy h:mm tt")</td>
                        <td>@form.EndDate.ToString("dd-MMM-yyyy h:mm tt")</td>
                        @if (form.Fee <= 0)
                        {
                            <td>Free</td>
                        }
                        else
                        {
                            <td>@form.Fee</td>
                        }

                        <td style="width: 40%">
                            @if (form.FormTemplates == null || !form.FormTemplates.Any())
                            {
                                @: NILL
                            }
                            else
                            {
                                <p>
                                    @string.Join(", ", form.FormTemplates.Select(x => x.Name))
                                </p>
                            }
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td style="width: 7%">
                                @*@using (Html.BeginForm("Delete", "ApplicationForm", new { id = form.Id }))
                                    {*@
                                @Html.ActionLink("Edit", "Edit", new { appId = form.Id }, new { @class = "btn btn-success btn-xs" })

                                @*<button class="btn btn-danger btn-xs DeleteButton" type="submit" id="DeleteButton">Delete</button>*@
                                @*}*@

                                @*@using (Html.BeginForm("Delete", "ApplicationForm", new { id = form.Id }))
                                    {
                                        @Html.ActionLink("Edit", "Edit", new { id = form.Id }, new { @class = "btn btn-primary btn-xs" })
                                        <button class="btn btn-danger btn-xs" type="submit">Delete</button>
                                    }*@
                            </td>
                            <td>@Html.ActionLink("Clone", "Clone", new { appId = form.Id }, new { @class = "btn btn-primary btn-xs" })</td>
                        }


                    </tr>
                        i++;
                }


            }
        </tbody>
    </table>
</div>
<script>
    $(function () {
        $("#applicationFormsTB").DataTable();
        $(".DeleteButton").click(function () {
            return confirm("Are you sure you want to delete this Form?");
        });
    });
</script>
@*@Html.ActionLink("Create Form", "Create", null, new { @class = "btn btn-primary" })*@

<script type="text/javascript">
    $(function () {

        toastr.options =
        {
            "closeButton": false,
            "debug": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    })
</script>

@if (TempData["Created"] != null && TempData["Created"].ToString() == "Success")
{
    <script type="text/javascript">
        $(function () {
            toastr.success("Form Successfully Created");
        })
    </script>
}
@if (TempData["Edited"] != null && TempData["Edited"].ToString() == "Success")
{
    <script type="text/javascript">
        $(function () {
            toastr.success("Details of Form Successfully Changed");
        })
    </script>
}