@using EduApply.Logic.Interfaces
@using EduApply.Logic.Service
@model EduApply.Web.Models.AuditTrailModel

@{
    ViewBag.Title = "Audit Trail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var configurationService = EngineContext.Resolve<IConfigurationService>();
    var localTime = configurationService.GetCurrentWestAfricanDateTime();
}

@*<h2>Audit Trail</h2>
<hr />*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-4">
        <div class="form-group">
            <label>Audit Section</label>
            @Html.DropDownListFor(model => model.AuditSectionId, new SelectList(Model.AuditSections, "Id", "Name", Model.AuditSectionId), "<--Select-->", new { @class = "form-control" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label>Audit Action</label>
            @Html.DropDownListFor(model => model.AuditActionId, new SelectList(Model.AuditActions, "Id", "Name", Model.AuditActionId), "<--Select-->", new { @class = "form-control" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label>Role</label>
            @Html.DropDownListFor(model => model.UserRole, new SelectList(Model.Roles, "Name", "Name", Model.UserRole), "<--Select-->", new { @class = "form-control" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label>Keyword</label>
            <input type="text" id="AuditTrailKeyWord" class="form-control" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label style="display: block">Start Date</label>
            <input type="text" class="form-control" id="StartDate" value="@localTime.AddMinutes(-30).ToString(" dd-MMM-yyyy h:mm tt")" name="startDate" readonly="" style="width: 95%; background: white; display: inline" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label style="display: block">End Date</label>
            <input type="text" class="form-control" id="EndDate" value="@localTime.AddMinutes(5).ToString(" dd-MMM-yyyy h:mm tt")" name="EndDate" readonly="" style="width: 95%; background: white; display: inline" />
        </div>
    </div>

    <hr />

    @*<div class="col-md-12">
        <div class="form-group">
            <a href="#" id="downloadButton" class="btn btn-success">Download</a>
        </div>
    </div>*@

    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading"></div>
            <div id="auditTrailContainer"></div>
            
        </div>
    </div>

}



<script type="text/javascript">
    var trailIdz = [];
    $(function () {

        toastr.options =
        {
            "closeButton": false,
            "debug": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        var defaultAuditSectionId = $("#AuditSectionId").val();
        var defaultAuditActionId = $("#AuditActionId").val();
        var defaultStartDate = $("#StartDate").val();
        var defaultEndDate = $("#EndDate").val();
        var defaultuserRole = $("#UserRole").val();
        var defaultkeyword = $("#AuditTrailKeyWord").val();
        getAdmittedList(defaultAuditSectionId, defaultAuditActionId, defaultStartDate, defaultEndDate, defaultuserRole, defaultkeyword);


        $('#EndDate,#StartDate').datetimepicker({
            showOn: "button",
            //buttonImage: "/EduApply/images/calendar.gif",
            buttonImage: "/images/calendar.gif",
            buttonImageOnly: true,
            buttonText: "Select date",
            dateFormat: 'dd-M-yy',
            changeMonth: true,
            changeYear: true,
            yearRange: '1960:2060',
            defaultDate: 'Date.today()'
        });

        $("#AuditActionId").change(function () {
            var auditSectionId = $("#AuditSectionId").val();
            var auditActionId = $("#AuditActionId").val();
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();
            var userRole = $("#UserRole").val();
            var keyword = $("#AuditTrailKeyWord").val();


            getAdmittedList(auditSectionId, auditActionId, startDate, endDate, userRole, keyword);
        });
        $("#UserRole").change(function () {
            var auditSectionId = $("#AuditSectionId").val();
            var auditActionId = $("#AuditActionId").val();
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();
            var userRole = $("#UserRole").val();
            var keyword = $("#AuditTrailKeyWord").val();


            getAdmittedList(auditSectionId, auditActionId, startDate, endDate, userRole, keyword);
        });
        var lastValue = '';
        // $("#AuditTrailKeyWord").change(function () {
        $("#AuditTrailKeyWord").on('change keyup paste mouseup', function () {

            if ($(this).val() != lastValue) {
                lastValue = $(this).val();
                var auditSectionId = $("#AuditSectionId").val();
                var auditActionId = $("#AuditActionId").val();
                var startDate = $("#StartDate").val();
                var endDate = $("#EndDate").val();
                var userRole = $("#UserRole").val();
                var keyword = $("#AuditTrailKeyWord").val();


                getAdmittedList(auditSectionId, auditActionId, startDate, endDate, userRole, keyword);
            }

        });

        $("#StartDate").change(function () {

            var auditSectionId = $("#AuditSectionId").val();
            var auditActionId = $("#AuditActionId").val();
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();
            var userRole = $("#UserRole").val();
            var keyword = $("#AuditTrailKeyWord").val();

            if (startDate == null && endDate == null) {
                return false;
            }

            if ((endDate != null && startDate != null) && Date(endDate) < Date(startDate)) {
                toastr.error("End Date cannot be Less than Start Date");
                return false;
            }

            getAdmittedList(auditSectionId, auditActionId, startDate, endDate, userRole, keyword);
        });

        $("#EndDate").change(function () {
            var auditSectionId = $("#AuditSectionId").val();
            var auditActionId = $("#AuditActionId").val();
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();
            var userRole = $("#UserRole").val();
            var keyword = $("#AuditTrailKeyWord").val();
            if (startDate == null && endDate == null) {
                return false;
            }
            if ((endDate != null && startDate != null) && Date(endDate) < Date(startDate)) {
                toastr.error("End Date cannot be Less than Start Date");
                return false;
            }

            getAdmittedList(auditSectionId, auditActionId, startDate, endDate, userRole, keyword);
        });

        $("#AuditSectionId").change(function () {
            var auditSectionId = $("#AuditSectionId").val();
            var auditActionId = $("#AuditActionId").val();
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();
            var userRole = $("#UserRole").val();
            var keyword = $("#AuditTrailKeyWord").val();

            var selectedItem = $("#AuditSectionId").val();
            var ddlAuditActions = $("#AuditActionId");
            $.ajax({
                cache: false,
                type: "GET",
                url: "/EduApply/AuditTrail/GetAuditActions",
                //url: "/AuditTrail/GetAuditActions",
                data: { "auditSectionId": selectedItem },
                success: function (data) {
                    ddlAuditActions.html('');
                    ddlAuditActions.append($('<option></option>').val(null).html("----"));
                    $.each(data, function (id, option) {
                        ddlAuditActions.append($('<option></option>').val(option.id).html(option.name));
                    });
                    // statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve Audit Trail.');
                    //   statesProgress.hide();
                }
            });

            getAdmittedList(auditSectionId, auditActionId, startDate, endDate, userRole, keyword);
        });
        $("#downloadButton").click(function () {
            if (trailIdz.length == 0) {
                toastr.info("No record to download");
                return false;
            }

            $.ajax({
                cache: false,
                type: "POST",
                //before passing an array to a controller from ajax traditional must be set to true or else controller wont recieve the array
                traditional: true,
                //url: "/EduApply/Download/CreateExcelForAuditTrail",
                url: "/Download/CreateExcelForAuditTrail",
                data: { "trailIdz": trailIdz },
                success: function (filename) {
                    //window.location = '/EduApply/Download/DownloadExcel?file=' + filename;
                    window.location = '/Download/DownloadExcel?file=' + filename;
                    //  toastr.success("Download Complete");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error occured');
                    return false;
                }
            });
        });

    });


    function getAdmittedList(auditSectionId, auditActionId, startDate, endDate, userRole, keyword) {

        $.ajax({
            cache: false,
            type: "POST",
            //url: "/EduApply/AuditTrail/GetAuditTrailList",
            url: "/AuditTrail/GetAuditTrailList",
            data: { "auditSectionId": auditSectionId, "auditActionId": auditActionId, "startDate": startDate, "endDate": endDate, "userRole": userRole, "keyword": keyword },

            success: function (data) {
                $("#auditTrailContainer").html('<table id="auditTrailTable" class="table table-striped"><thead><tr><th>User</th><th>User IP</th><th>User Role</th><th>Audit Action</th><th>Details</th><th>Timestamp</th></tr></thead><tbody id="auditTrailTableBody"></tbody></table>');
                var auditTrailTableBody = $("#auditTrailTableBody");
                var counter = 0;
                if (data.length > 0) {
                    auditTrailTableBody.html('');
                    $.each(data, function (id, option) {
                        trailIdz.push(option.trailId);
                        auditTrailTableBody.append($('<tr></tr>').html(
                            '<td>' + option.username + '</td>' +
                              '<td>' + option.userIp + '</td>' +
                                '<td>' + option.userRole + '</td>' +
                            '<td>' + option.auditAction + '</td>' +
                            '<td>' + option.details + '</td>' +
                            '<td>' + option.timestamp + '</td>' 
                          
                        ));
                    });
                    if ($.fn.dataTable.isDataTable('#auditTrailTable')) {
                        $('#auditTrailTable').DataTable({
                            destroy: true
                        });
                    }
                    else {
                        $('#auditTrailTable').DataTable();
                    }
                }
                else {
                    auditTrailTableBody.html('<tr><td colspan="6" style="text-align: center">No records found</td></tr>');
                }


            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve Audit Trail.');
                //   statesProgress.hide();
            }
        });
    }

</script>