@model IEnumerable<EduApply.Web.Models.OLevelResultDetailsPreview>
@{
    var sittingNumber = 1;
}
<div class="container">
    <hr />
    <h4>OLevel Result</h4>
    <hr />
    @{var i = 0;}
    @foreach (var result in Model)
    {
        var sittinNumber = i + 1;
        if (Model.Count() > 1)
        {
            <div class="col-md-12">
                @if (sittinNumber == 1)
                {
                    <h4><strong>First Sitting</strong></h4>
                }
                else
                {
                    if (sittinNumber == 2)
                    {
                        <h4><strong>Second Sitting</strong> </h4>
                    }
                    else
                    {
                        if (sittinNumber == 3)
                        {
                            <h4><strong>Third Sitting</strong></h4>
                        }
                        else
                        {
                            <h4>Sitting @sittinNumber</h4>
                        }
                    }
                }
                <hr />
            </div>
        }



        <div class="form-group">
            <div class="col-md-4"><p><strong>Candidate Name: </strong>@result.CandidateName</p></div>
            @*<div class="col-md-4"><p><strong>School Name: </strong>@result.SchoolName</p></div>*@
            <div class="col-md-4"><p><strong>Exam Number: </strong>@result.ExamNumber</p></div>
            <div class="col-md-4"><p><strong>Year Taken: </strong>@result.Year</p></div>
            <div class="col-md-4"><p><strong>Exam Type: </strong>@result.ExamType</p></div>
            <div class="row"></div>
            @*<div class="col-md-4">@result.Subject1 (@result.Grade1)</div>
                <div class="col-md-4">@result.Subject2 (@result.Grade2)</div>
                <div class="col-md-4">@result.Subject3 (@result.Grade3)</div>
                <div class="col-md-4">@result.Subject4 (@result.Grade4)</div>
                <div class="col-md-4">@result.Subject5 (@result.Grade5)</div>
                <div class="col-md-4">@result.Subject6 (@result.Grade6)</div>
                <div class="col-md-4">@result.Subject7 (@result.Grade7)</div>
                <div class="col-md-4">@result.Subject8 (@result.Grade8)</div>
                <div class="col-md-4">@result.Subject9 (@result.Grade9)</div>*@
            @if (!string.IsNullOrEmpty(result.Subject1))
            {
                <div class="col-md-4">@result.Subject1 (@result.Grade1)</div>
            }
            @if (!string.IsNullOrEmpty(result.Subject2))
            {
                <div class="col-md-4">@result.Subject2 (@result.Grade2)</div>
            }
            @if (!string.IsNullOrEmpty(result.Subject3))
            {
                <div class="col-md-4">@result.Subject3 (@result.Grade3)</div>
            }
            @if (!string.IsNullOrEmpty(result.Subject4))
            {
                <div class="col-md-4">@result.Subject4 (@result.Grade4)</div>
            }
            @if (!string.IsNullOrEmpty(result.Subject5))
            {
                <div class="col-md-4">@result.Subject5 (@result.Grade5)</div>
            }
            @if (!string.IsNullOrEmpty(result.Subject6))
            {
                <div class="col-md-4">@result.Subject6 (@result.Grade6)</div>
            }
            @if (!string.IsNullOrEmpty(result.Subject7))
            {
                <div class="col-md-4">@result.Subject7 (@result.Grade7)</div>
            } @if (!string.IsNullOrEmpty(result.Subject8))
            {
                <div class="col-md-4">@result.Subject8 (@result.Grade8)</div>
            } @if (!string.IsNullOrEmpty(result.Subject9))
            {
                <div class="col-md-4">@result.Subject9 (@result.Grade9)</div>
            }

            <div class="row"></div>
        </div>
            i++;
    }

</div>