@using EduApply.Logic.Interfaces
@using EduApply.Logic.Service
@using EduApply.Logic.Utility
<!DOCTYPE html>
<html>
@{
    var theme = EngineContext.Resolve<Theme>();
    var schoolName = theme.SchoolName;
    var http = EngineContext.Resolve<HttpContextBase>();
    var configurationService = EngineContext.Resolve<IConfigurationService>();
    var localTime = configurationService.GetCurrentWestAfricanDateTime();
    //var logo = @UrlHelper.GenerateContentUrl("images/" + theme.Logo, http);

    var logo = @Url.Content("images/" + theme.Logo);

}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Apply Portal</title>
        <link href="~/Content/jquery-ui.css" rel="stylesheet" />
        <link href="~/Content/toastr.css" rel="stylesheet" />
        <link href="~/Content/jquery.dataTables_themeroller.css" rel="stylesheet" />
        <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/toastr.js"></script>
        <script src="~/Scripts/jquery.ui.widget.js"></script>
        <script src="~/Scripts/jquery.fileupload.js"></script>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script src="~/Scripts/jquery-ui.js"></script>
        <script src="~/Scripts/timepicker.js"></script>
        <script src="~/Scripts/jquery.dataTables.js"></script>
        <script src="~/Scripts/jquery.dataTables.rowReordering.js"></script>
        <link href="~/Styles/Theme.css" rel="stylesheet" />
    </head>
    <body>

        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-static-top border" role="navigation" style="margin-bottom: 0">
                <div class="navbar-brand " href="#">
                    <img src=@logo />
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h3> <strong>@schoolName.ToUpper()</strong><br />Application Portal</h3>

                </div>

            </nav>

        </div>
        <div class="sidebar " role="navigation">
            <div class="sidebar-nav navbar-collapse collapse">
                <ul class="nav in sidebar" id="side-menu" style="margin-top:30px">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li ><a href="#">Application</a></li>
                    @*<li class="active">@Html.ActionLink("Application", "Index", "Application")</li>*@
                </ul>
            </div>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            
            @RenderBody()
        </div>

        <footer class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <hr />
            <p>&copy; @localTime.Year - Application Portal</p>
        </footer>


        @*@Scripts.Render("~/bundles/jquery")*@
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)

        <script>
            $(function () {
                checkSupportForInputTypeDate();

                function checkSupportForInputTypeDate() {
                    jQuery.validator.methods.date = function (value, element) {
                        var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                        var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
                        if (!isSafari || !isChrome) {
                            var d = new Date();
                            return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                        } else {
                            return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                        }
                    };
                }
            });
        </script>
    </body>
</html>
