@model EduApply.Web.Models.SessionModel

@{
    ViewBag.Title = "Session Configuration";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@*<h2>Session Configuration</h2>*@

@using (Html.BeginForm("Create", "Session", FormMethod.Post, new { @id = "CreateSession", @name = "CreateSession" }))
{
    @Html.AntiForgeryToken()


    <div class="row">

        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active">@Html.ActionLink("Session", "Index", "Session")</li>
                <li>@Html.ActionLink("Program", "Index", "Program")</li>
                <li>@Html.ActionLink("Faculty", "Index", "Faculty")</li>
                <li>@Html.ActionLink("Department", "Index", "Department")</li>
                <li>@Html.ActionLink("Course of Study", "Index", "Course")</li>
                <li>@Html.ActionLink("Venue", "Index", "Venue")</li>
                <li>@Html.ActionLink("Exam Venue", "Index", "ExamVenue")</li>
                <li>@Html.ActionLink("Venue Mapping", "Mapper", "VenueMapping")</li>
            </ul>

        </div>


        <div class="col-md-12 margin-top">
            <div class="form-horizontal">
                <h4>New Session</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })

                <div class="form-group required">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control default-width" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group required">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control custom-disable-textbox", @readonly = true } })

                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group required">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control custom-disable-textbox", @readonly = true } })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" id="saveSessionButton" />
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        </div>

    </div>


}
<script>
    $(function () {
        $('#EndDate,#StartDate').datepicker({
            showOn: "button",
            buttonImage: "/EduApply/images/calendar.gif",
            //buttonImage: "/images/calendar.gif",
            buttonImageOnly: true,
            buttonText: "Select date",
            dateFormat: 'dd-M-yy',
            changeMonth: true,
            changeYear: true,
            yearRange: '1960:2060',
            defaultDate: 'Date.today()'
        });

        $('#saveSessionButton').click(function () {
            //var x = 0;
            //function fun() {
            //    var x = 1;
            //    if (x) {
            //        x = 2;
            //    }
            //}

            //fun();
            //alert(x);
         
            var sessionName = $("#Name").val();
            if (sessionName == "") {
                $("#Name").addClass("input-validation-error").removeClass("valid");
                return false;
            } else {
                $("#Name").addClass("valid").removeClass("input-validation-error");

            }
        });
        $("#Name").change(function () {
            var sessionName = $("#Name").val();
            if (sessionName == "") {
                $("#Name").addClass("input-validation-error").removeClass("valid");
            } else {
                $("#Name").addClass("valid").removeClass("input-validation-error");

            }
        });
        $('#StartDate').change(function () {
            var dateValue = $('#StartDate').val();
            if (dateValue != "") {
                $('#StartDate').addClass("valid").removeClass("input-validation-error");
            }
        });
        $('#EndDate').change(function () {
            var dateValue = $('#EndDate').val();
            if (dateValue != "") {
                $('#EndDate').addClass("valid").removeClass("input-validation-error");
            }
        });
    });

</script>
