@using EduApply.Web.Models
@model IEnumerable<EduApply.Web.Models.SessionModel>

@{
    ViewBag.Title = "Session Configuration";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@*<h2>Session Configuration</h2>*@
<hr />
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="active">@Html.ActionLink("Session", "Index", "Session")</li>
            <li>@Html.ActionLink("Program", "Index", "Program")</li>
            <li>@Html.ActionLink("Faculty", "Index", "Faculty")</li>
            <li>@Html.ActionLink("Department", "Index", "Department")</li>
            <li>@Html.ActionLink("Course of Study", "Index", "Course")</li>
            <li>@Html.ActionLink("Venue", "Index", "Venue")</li>
            <li>@Html.ActionLink("Exam Venue", "Index", "ExamVenue")</li>
            <li>@Html.ActionLink("Venue Mapping", "Mapper", "VenueMapping")</li>
        </ul>

    </div>



    <article class="col-md-12 margin-top">
        <div class="form-group">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Session</div>
            <table id="SessionTable" class="table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Session</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        var i = 1;
                        foreach (SessionModel item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.StartDate).ToString("dd-MMM-yyyy")
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.EndDate).ToString("dd-MMM-yyyy")
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { sessionId = item.Id }, new { @class = "btn btn-success btn-xs" })
                                </td>
                            </tr>
                            i++;
                        }
                    }

                </tbody>



            </table>
        </div>
    </article>


</div>

<script type="text/javascript">
    $(function () {
        $("#SessionTable").DataTable();
        toastr.options =
        {
            "closeButton": false,
            "debug": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    })
</script>

@if (TempData["Created"] != null && TempData["Created"].ToString() == "Success")
{
    <script type="text/javascript">
        $(function () {
            toastr.success("Session Successfully Created");
        })
    </script>
}
@if (TempData["Edited"] != null && TempData["Edited"].ToString() == "Success")
{
    <script type="text/javascript">
        $(function () {
            toastr.success("Details of Session Successfully Changed");
        })
    </script>
}

