@model EduApply.Web.Models.CourseModel

@{
    ViewBag.Title = "Course Configuration";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@*<h2>Course Configuration</h2>*@
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li>@Html.ActionLink("Session", "Index", "Session")</li>
                <li>@Html.ActionLink("Program", "Index", "Program")</li>
                <li>@Html.ActionLink("Faculty", "Index", "Faculty")</li>
                <li>@Html.ActionLink("Department", "Index", "Department")</li>
                <li class="active">@Html.ActionLink("Course of Study", "Index", "Course")</li>
                <li>@Html.ActionLink("Venue", "Index", "Venue")</li>
                <li>@Html.ActionLink("Exam Venue", "Index", "ExamVenue")</li>
                <li>@Html.ActionLink("Venue Mapping", "Mapper", "VenueMapping")</li>
            </ul>
        </div>
        <div class="col-md-12 margin-top">
            <div class="row">
                <div class="form-horizontal">
                    <h4>Edit Course</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })
                    @Html.HiddenFor(model => model.Id)
                    <div class="row">
                        <div class="form-group required">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group required">
                            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsActive)
                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group required">
                            @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.DepartmentId, new SelectList(Model.Departments, "Id", "Name", Model.DepartmentId), "<--Select-->", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Programs @Model.Name belongs to</div>
                                <table id="progForCourseTB" class="table-striped">
                                    @if (!Model.ProgramsForThisCourse.Any())
                                    {
                                        <tr>
                                            <td style="text-align: center">@Model.Name does not belong to any Program</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        var i = 1;
                                        <thead>
                                            <tr><th>S/N</th><th>Program</th><th>Remove course from Program</th></tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var program in Model.ProgramsForThisCourse)
                                            {

                                                <tr>
                                                    <td>@i</td>
                                                    <td>@program.Name</td>
                                                    <td><input type="checkbox" name="IdsToDelete" value="@program.Id" /></td>
                                                </tr>
                                                i++;
                                            }
                                        </tbody>
                                    }
                                </table>
                            </div>
                            <hr />
                            <div class="panel panel-primary">
                                <div class="panel-heading">Programs @Model.Name does not belong to</div>
                                <table id="progNotForCourseTB" class="table-striped">
                                    @if (!Model.ProgramsNotForThisCourse.Any())
                                    {
                                        <tr>
                                            <td>Course belongs to all configured programs or No Program has been configured yet</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        var i = 1;
                                        <thead>
                                            <tr><th>S/N</th><th>Program</th><th>Add Course to Program</th></tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var program in Model.ProgramsNotForThisCourse)
                                            {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@program.Name</td>
                                                    <td><input type="checkbox" name="IdsToAdd" value="@program.Id" /></td>
                                                </tr>
                                                i++;
                                            }

                                        </tbody>
                                    }
                                    <tr>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


}

<script>
    $(function () {
        $('#progForCourseTB,#progNotForCourseTB').DataTable();
    });
</script>
