@model IEnumerable<EduApply.Web.Models.CourseModel>

@{
    ViewBag.Title = "Course Configuration";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@*<h2>Course Configuration</h2>*@
<hr />
<div class="row">

    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li>@Html.ActionLink("Session", "Index", "Session")</li>
            <li>@Html.ActionLink("Program", "Index", "Program")</li>
            <li>@Html.ActionLink("Faculty", "Index", "Faculty")</li>
            <li>@Html.ActionLink("Department", "Index", "Department")</li>
            <li class="active">@Html.ActionLink("Course of Study", "Index", "Course")</li>
            <li>@Html.ActionLink("Venue", "Index", "Venue")</li>
            <li>@Html.ActionLink("Exam Venue", "Index", "ExamVenue")</li>
            <li>@Html.ActionLink("Venue Mapping", "Mapper", "VenueMapping")</li>
        </ul>
    </div>
    <div class="col-md-12 margin-top">
        <div class="form-group">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Course of Study List</div>
            <table id="CourseTable" class="table-striped table-responsive">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th>@Html.DisplayNameFor(model => model.DepartmentId)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Code
                                </td>
                                <td>
                                    @item.IsActive
                                </td>
                                <td>
                                    @item.Department.Name
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { @courseId = item.Id }, new { @class = "btn btn-success btn-xs" })
                                </td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>


</div>
<script type="text/javascript">
    $(function () {
        $("#CourseTable").DataTable();


        toastr.options =
        {
            "closeButton": false,
            "debug": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    })
</script>

@if (TempData["Created"] != null && TempData["Created"].ToString() == "Success")
{
    <script type="text/javascript">
        $(function () {
            toastr.success("Course Successfully Created");
        })
    </script>
}
@if (TempData["Edited"] != null && TempData["Edited"].ToString() == "Success")
{
    <script type="text/javascript">
        $(function () {
            toastr.success("Course Details Successfully Changed");
        })
    </script>
}

