
@{
    ViewBag.Title = "Configuration";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Configuration</h2>
<div class="row">
    <article class="col-lg-offset-1 col-sm-offset-1 col-lg-8 col-sm-7 col-lg-push-3 col-sm-push-4">

    </article>
    <aside class="col-lg-3 col-sm-4 col-lg-pull-9 col-sm-pull-8">
        <ul class="nav nav-pills nav-stacked">
            @*<li class="active">@Html.ActionLink("Faculty","Index","Faculty")</li>
            <li>@Html.ActionLink("Department","Index","Department")</li>*@
            <li>@Html.ActionLink("Session", "Index", "Session")</li>
            <li>@Html.ActionLink("Program", "Index", "Program")</li>
            <li>@Html.ActionLink("Course","Index","Course")</li>
            <li>@Html.ActionLink("Work Flow","Index","WorkFlow")</li>
        </ul>
    </aside>
</div>
