@using EduApply.Data.Entities
@using EduApply.Web.Models
@using NPOI.SS.Formula.Functions
@model ApplicationPreviewPageModel

@{
    ViewBag.Title = "Application Preview";
    Layout = "~/Views/Shared/ApplicationLayout.cshtml";

    var paymentModel = Session["PaymentModel"] as PaymentModel;
}
<p style="color: red">
    Please review all your entries before submission.
</p>
<hr />
<div>
    @if (Model.PersonalInformationModel != null)
    {
        @Html.Partial("_PersonalInformationPreview", Model.PersonalInformationModel)
    }
    @if (Model.ProgramCoursePreviewModel != null)
    {
        @Html.Partial("_ProgramCoursePreview", Model.ProgramCoursePreviewModel)
    }
    @if (Model.EducationalDetailsModel != null && Model.EducationalDetailsModel.Any())
    {
        @Html.Partial("_EducationalDetailsPreview", Model.EducationalDetailsModel)
    }

    @if (Model.PictureDetails != null)
    {
        @Html.Partial("_PassportPreview", Model.PictureDetails)
    }

    @if (Model.FormResultModel != null)
    {
        @Html.Partial("_FormResultPreview", Model.FormResultModel)
    }

    @if (Model.SessionResultModel != null)
    {
        @Html.Partial("_SessionResultPreview", Model.SessionResultModel)
    }

    @if (Model.JambScoreValidationModel != null)
    {
        @Html.Partial("_JambResultPreview", Model.JambScoreValidationModel)
    }

    @if (Model.Certificates != null && Model.Certificates.Any())
    {
        @Html.Partial("_CertificatePreview", Model.Certificates)
    }

    @if (Model.EducationalDetailsModel != null && Model.EducationalDetailsModel.Any())
    {
        @Html.Partial("_EducationalDetailsPreview", Model.EducationalDetailsModel)
    }

    @if (Model.WorkExperiences != null && Model.WorkExperiences.Any())
    {
        @Html.Partial("_WorkExperiencePreview", Model.WorkExperiences)
    }

    @if (Model.References != null && Model.References.Any())
    {
        @Html.Partial("_ReferencePreview", Model.References)
    }
    @if (Model.OLevelResult != null && Model.OLevelResult.Any())
    {
        @Html.Partial("_OLevelResultPreview", Model.OLevelResult)
    }

    @if (!string.IsNullOrEmpty(Model.Venue))
    {
        <div class="container">
            <hr />
            <h4>Exam Venue</h4>
            <hr />
            <div class="col-md-4">
                @Model.Venue
            </div>
            <div class="col-md-4">
                Seat Number: @Model.SeatNo
            </div>
            <div class="col-md-4">
               Èxam Date: @Model.ExamDate.ToString("ddd dd-MMM-yy h:mm tt")
            </div>
            <hr />
        </div>

    }

    @*  @if (Model.RegNumValidationModel != null)
        {
            @Html.Partial("_RegNumPreview", Model.RegNumValidationModel)
        }*@


        @*@Html.Partial("_AdmissionStatusPreview", Model.AdmissionStatus)*@
    </div>
    <div>

        <div class="container">
            <div class="form-group">
                <hr />
                @Html.ActionLink("<< Back", "BackApplication", "Application", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Submit", "SubmitApplication", "Application", null, new { @id = "submitButton", @class = "btn btn-success" })

            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("#submitButton").click(function () {
                var result = confirm("Are you sure you want to submit?");
                if (!result) {
                    return false;
                }
            });
        });
    </script>