@using EduApply.Web.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var unauthenticatedUser = Session["UnAuthenticatedUser"] != null ? Session["UnAuthenticatedUser"] as ApplicationUser : new ApplicationUser();

}

<section id="" class="">
    <div class="hero_wrapper">
        <div class="">
            <div class="row">
                <div class="welcome col-md-6 left-sidebar">
                    <h2 class="margin-left">WELCOME TO THE ONLINE APPLICATION PORTAL</h2>
                    <p> <p></p>

                </div><!--col-md-6-->
               <div class="col-md-6 login">

                    <section id="loginForm">
                        <div class="login-wrapper">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Login</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })

                                <div class="form-group">

                                    <div class="col-md-12"> 
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control default-width input-lg", placeholder = "Enter email address" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger-white" })
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-md-12">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control default-width input-lg", placeholder = "Enter password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger-white" })
                                       
                                    </div>
                                </div>
                                if (unauthenticatedUser.AccessFailedCount > 3)
                                {
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="g-recaptcha" data-sitekey="6LdekQITAAAAAG9Z6mBwGvNx1Cy-r6Av3Kut3yWc"></div>
                                        </div>
                                    </div>
                                }
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input type="submit" value="Log in" class="btn btn-primary btn-lg" />
                                        @Html.ActionLink("Sign Up", "Register", null, new { @class = "btn btn-success btn-lg " })
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="forgot-password">
                                        <div class="col-md-10 " style="color:#fff">
                                            @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account")
                                        </div>
                                    </div>
                                </div>
                                @*<p>

                                    </p>*@
                            }
                        </div>
                    </section>


                </div>
                <div class="">
                    <section id="socialLoginForm">
                        @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })*@
                    </section>
                </div>
                 
            </div><!--row-->


        </div>
    </div>
    
</section>







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}